<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboards")">
                <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">                   
                    <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Dashboard_2", "Home")">Dashboard v.2</a></li>                    
                </ul>
            </li>
              <li class="@Html.IsSelected(controller: "OutpootLog")">
                <a href="@Url.Action("Index", "OutpootLog")"><i class="fa fa-file-archive-o"></i> <span class="nav-label" data-i18n="nav.metrics">Logs</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Metrics")">
                <a href="@Url.Action("Index", "Metrics")"><i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Metrics</span> </a>
            </li>

            <li class="@Html.IsSelected(controller: "Forms")">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Forms", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "BasicFroms")"><a href="@Url.Action("BasicFroms", "Forms")">Basic form</a></li>
                    <li class="@Html.IsSelected(action: "Advanced")"><a href="@Url.Action("Advanced", "Forms")">Advanced Plugins</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Wizard", "Forms")">Wizard</a></li>
                    <li class="@Html.IsSelected(action: "FileUpload")"><a href="@Url.Action("FileUpload", "Forms")">File Upload</a></li>
                    <li class="@Html.IsSelected(action: "TextEditor")"><a href="@Url.Action("TextEditor", "Forms")">Text Editor</a></li>
                    <li class="@Html.IsSelected(action: "Autocomplete")"><a href="@Url.Action("Autocomplete", "Forms")">Autocomplete</a></li>
                    <li class="@Html.IsSelected(action: "Markdown")"><a href="@Url.Action("Markdown", "Forms")">Markdown</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "Pages")">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.otherpages">Other Pages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Pages", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "LockScreen")"><a href="@Url.Action("LockScreen", "Pages")">Lockscreen</a></li>
                    <li class="@Html.IsSelected(action: "Login")"><a href="@Url.Action("Login", "Pages")">Login</a></li>                  
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Miscellaneous")">
                <a href="#"><i class="fa fa-globe"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Miscellaneous</span><span class="label label-info pull-right">NEW</span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Miscellaneous", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Notification")"><a href="@Url.Action("Notification", "Miscellaneous")">Notification</a></li>
                    <li class="@Html.IsSelected(action: "NestableList")"><a href="@Url.Action("NestableList", "Miscellaneous")">Nestable list</a></li>
                    <li class="@Html.IsSelected(action: "IdleTimer")"><a href="@Url.Action("IdleTimer", "Miscellaneous")">Idle timer</a></li>
                    <li class="@Html.IsSelected(action: "Spinners")"><a href="@Url.Action("Spinners", "Miscellaneous")">Spinners</a></li>
                    <li class="@Html.IsSelected(action: "SpinnersUsage")"><a href="@Url.Action("SpinnersUsage", "Miscellaneous")">Spinners usage</a></li>                   
                    <li class="@Html.IsSelected(action: "ModalWindow")"><a href="@Url.Action("ModalWindow", "Miscellaneous")">Modal window</a></li>
                    <li class="@Html.IsSelected(action: "Validation")"><a href="@Url.Action("Validation", "Miscellaneous")">Validation</a></li>
                    <li class="@Html.IsSelected(action: "LoadingButtons")"><a href="@Url.Action("LoadingButtons", "Miscellaneous")">Loading buttons</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "UIElements")">
                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label" data-i18n="nav.uielements">UI Elements</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "UIElements", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Icons")"><a href="@Url.Action("Icons", "UIElements")">Icons</a></li>                    
                    <li class="@Html.IsSelected(action: "Buttons")"><a href="@Url.Action("Buttons", "UIElements")">Buttons</a></li>                    
                    <li class="@Html.IsSelected(action: "Tabs")"><a href="@Url.Action("Tabs", "UIElements")">Tabs</a></li>                    
                    <li class="@Html.IsSelected(action: "HelperClasses")"><a href="@Url.Action("HelperClasses", "UIElements")">Helper css classes</a></li>                    
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "GridOptions")">
                <a href="@Url.Action("Index", "GridOptions")"><i class="fa fa-laptop"></i> <span class="nav-label" data-i18n="nav.gridoptions">Grid options</span></a>
            </li>
           
           
           
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Menu Levels </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "CSSAnimations")">
                <a href="@Url.Action("Index", "CSSAnimations")"><i class="fa fa-magic"></i> <span class="nav-label" data-i18n="nav.animations">CSS Animations </span><span class="label label-info pull-right">62</span></a>
            </li>          
        </ul>
    </div>
</nav>